/*Ukuran Tablet*/
@media screen and (max-width: 1000px) {
/*   style navbar*/
   nav ul {
   display: flex;
   list-style: none;
   width: 60%;
   justify-content: space-between;
   align-items: center;
   }




   /*style about*/
   .about {
     width: 95%;
     margin: 25px auto;
      justify-content: space-around;
     display: flex;
      flex-wrap: wrap;
      height: 900px;
      z-index: -10;
      padding: 20px;
      box-sizing: border-box;
   }



   /*style div.about-text*/
   .about-text {
      width: 100%;
      background-color: whitesmoke;
      padding: 10px;
      height: 300px;
      box-sizing: border-box;
       font-family: asap;
      border-radius: 5px;
      margin-bottom: 25px;
   }

   .about-text h2{
     padding-bottom: 20px;
      margin-bottom: 20px;
     border-bottom: 2px solid rgb(200,200,200);
   }

   .about-text p {
     text-align: justify;
     line-height: 30px;
   }

   .about-text a {
     display: block;
     width: 50%;
     text-align: center;
     color: white;
     text-decoration: none;
     background-color: rgba(155,100,155,0.9);
     padding: 10px;
     border-radius: 5px;
     opacity: 0.5;
   }
   .about-text a:active {
     opacity: 1;
   }

   /*style div.about-imgs*/
   .about-imgs {
     width: 75%;
     margin: -300px 0;
   }

   img.mobile {
      display: none;
      width: 100%;
      box-shadow: none;
   }

   .desktop {
      display: none;
   }


   /*style bagian feature*/
   .feature {
      display: flex;
      width: 95%;
      margin-top: 50px;
      background-color: whitesmoke;
      flex-wrap: wrap;
      justify-content: space-around;
   }


   /*style bagian our skill*/
   .skill img {
      width: 100%;
      height: 550px;
      object-fit: cover;
   }

   .skill::after {
       content: '';
       display: block;
       width: 100%;
       height: 550px;
       background-image: linear-gradient(to top, rgba(230,230,230,1), rgba(200,200,200,0.4));
       position: absolute;
       top: 0;
      }

   .our-skill {
      position: absolute;
      top: 50px;
      left: 50px;
      background-color: white;
      z-index: 1;
      width: 30%;
      height: 70%;
      border-radius: 5px;
      padding: 25px;
      box-sizing: border-box;
   }

   .our-skill h2 {
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(200,200,200);
   }

   .our-skill p {
      line-height: 20px;
      margin-bottom: 10px;
   }


   .our-skill {
      position: absolute;
      top: 50px;
      left: 50px;
      background-color: white;
      z-index: 1;
      width: 85%;
      height: 45%;
      border-radius: 5px;
      padding: 25px;
      box-sizing: border-box;
   }

   .our-skill h2 {
      margin: 15px 0;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(200,200,200);
   }

   .our-skill p {
      line-height: 20px;
      margin-bottom: 10px;
      font-size: 15px;
   }


   .persen-skill {
      position: absolute;
      top: 300px;
      right: 50px;
      width: 85%;
      height: 20%;
      z-index: 1;
   }

   .persen-skill p {
      text-align: center;
      color: ghostwhite;
      text-shadow: 2px 2px grey;
      font-size: 15px;
   }

   .full-persen {
   height: 5px;
   background-color: gainsboro;
   border-radius: 5px;
   width: 90%;
   margin: 20px auto;
   margin-bottom: 10px;
   box-shadow: 1px 1px grey;
   }


}









/* ukuran mobile */

@media screen and (max-width: 650px) {
/*   style navbar*/
   nav ul {

      position: absolute;
      top: 0;
      margin-top: 50px;
      height: 500px;
      width: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: whitesmoke;
      margin-top: 75px;
      opacity: 0;
      transition: 1s;
      transform: translate(-500px, 0px);
   }

   nav ul.slide {
      opacity: 1;
      transform: translate(0, 0px);

   }

   .menu-toggle {
      display: flex;
   }


/*   style div.jumbotron*/
   div.jumbotron img {
   width: 100%;
   object-fit: cover;
   height: 350px;
   }


   /*style about*/
   .about {
     width: 95%;
     margin: 25px auto;
      justify-content: space-around;
     display: flex;
      flex-wrap: wrap;
      height: 725px;
      z-index: -10;
      padding: 20px;
      box-sizing: border-box;
   }


   /*style div.about-text*/
   .about-text {
      width: 100%;
      background-color: whitesmoke;
      padding: 10px;
      height: 350px;
      box-sizing: border-box;
       font-family: asap;
      border-radius: 5px;
      margin-bottom: 25px;
   }

   .about-text h2{
     padding-bottom: 20px;
      margin-bottom: 20px;
     border-bottom: 2px solid rgb(200,200,200);
   }
   .about-text p {
     text-align: justify;
     line-height: 30px;

   }
   .about-text a {
     display: block;
     width: 50%;
     text-align: center;
     color: white;
     text-decoration: none;
     background-color: rgba(155,100,155,0.9);
     padding: 10px;
     border-radius: 5px;
     opacity: 0.5;
   }
   .about-text a:active {
     opacity: 1;
   }

   /*style div.about-imgs*/
   .about-imgs {
     width: 100%;
      position: relative;
      margin-top: -150px;
      height: 500px;

   }

   img.mobile {
      display: none;
      width: 100%;
      box-shadow: none;
   }

   .desktop {
      display: none;
   }


   /*style bagian feature*/
   .feature {
      font-size: 15px;
   }

   .sub-fitur {
   width: 60%;
   margin: 0px;
   text-align: center;
   padding: 15px;
   }


   .icon-fitur1::after, .icon-fitur2::after, .icon-fitur3::after, .icon-fitur4::after {
      font-size: 50px;
   }


/*   style bagian our skill*/
   .our-skill {
      position: absolute;
      top: 25px;
      left: 32px;
      background-color: white;
      z-index: 1;
      width: 85%;
      height: 55%;
      border-radius: 5px;
      padding: 25px;
      box-sizing: border-box;
   }

   .persen-skill {
      position: absolute;
      top: 350px;
      right: 32px;
      width: 85%;
      height: 20%;
      z-index: 1;
   }

   .skill img {
   width: 100%;
   height: 600px;
   object-fit: cover;
   }

   .skill::after {
    content: '';
    display: block;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, rgba(230,230,230,1), rgba(200,200,200,0.4));
    position: absolute;
    top: 0;
}

   /*style our team*/

.our-team {
   width: 95%;
   margin: 25px auto;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-around
}

.our-team h2 {
   width: 100%;
   margin: 20px auto;
}

.item-team {
   width: 100%;
   height: 200px;
}

.item-team img {
   width: 25%;
}


}
