/* CSS Reset */
* {
   padding: 0;
   margin: 0;
   font-family: "Asap";
}

/* Font-face */
@font-face {
   font-family: "Exo";
   src: url('../fonts/Exo-SemiBold.ttf') format('truetype');
   /* font ini untuk kata "Fotoin" */
}

@font-face {
   font-family: "Asap";
   src: url('../fonts/Asap-Regular.ttf') format('truetype');
   /* font ini digunakan di semua bagian */
}

@font-face {
   font-family: "et-line";
   src: url('../fonts/et-line.woff') format('woff');
   /* font ini digunakan untuk ikon */
   /*
      ini contoh penggunaan font-icon
      .ikon:after {
         font-family: 'et-line';
         content: "\e014";
      }
   */
}

/* CATATAN!! bila ingin menerapkan style ke suatu tag supaya memberi class-nya yang spesifik */
body {
   font-family: sans-serif;
   overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
   font-family: exo;
}

p, a {
   font-family: asap;
}


.welcome {
  font-family: "Asap";
  src: url('../fonts/Asap-Regular.ttf') format('truetype');
}
.welcome a {
    text-decoration: none;
    color: inherit;
}
.who-we-are {
  font-family: "Asap";
  src: url('../fonts/Asap-Regular.ttf') format('truetype');

}
.head {
  background-color: white;
  width: 97%;
  margin: 0 auto;
}
.head-container {
  display: block;
  height: 60px;
}
.head-container h2 {
  float: left;
  font-family: "Exo";
  src: url('../fonts/Exo-SemiBold.ttf') format('truetype');
  line-height: 60px;

}
.head-container ul {
  float: right;
}
.head-container li {
  display: block;
  float: left;
  margin-right: 1vw;
  padding: 0 1vw;
  list-style: none;
  line-height: 60px;
}
.head-container li:hover {
  opacity: 0.7;
  box-shadow: 0 -3px 5px #d3d3d3;
}
#icon {
  display: none;
  color: white;
  font-size: 0;
}
#icon-x {
  display: none;
  color: white;
  font-size: 0;
}
.welcome-container {
  width: 100%;
}
.welcome-main {
  width: inherit;
  height: 600px;
  background-image: url("../image/img10.jpg");
  background-size: 1440px 600px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.welcome-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1vw;
  font-size: 5vh;
  color: white;
  width: 45%;
  height: 600px;
  margin: auto;
  padding: 0 3vw;
  background-color: rgba(20,20,20,0.7);
}
#author-name {
  letter-spacing: 0.2em;
  font-size: 2vw;
}
.who-we-are-container {
  width: 95%;
  margin: auto;
  margin-top: 10vh;
  display: block;
  height: 600px;
}
.who-we-are-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  background-color: rgba(200,200,200,0.4);
  margin-bottom: 1em;
  padding: 2em;
  height: 20em;
  float: left;
}
.who-we-are-text h2{
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(200,200,200);
}
.who-we-are-text p {
  text-align: justify;
  padding-top: 1em;
  line-height: 2em;
}
.who-we-are-text a {
  display: block;
  width: 8vw;
  align-self: baseline;
  color: white;
  text-decoration: none;
  background-color: rgba(155,100,155,0.9);
  padding: 0.7em;
  border-radius: 0.5em;
  opacity: 0.5
}
.who-we-are-text a:active {
  opacity: 1;
}
.who-we-are-imgs {
  position: relative;
  display: block !important;
  height: inherit;
}
.who-we-are-imgs img{
  width: 25%;
  position: absolute;
  box-shadow: 0.5em 0.5em 1em rgba(90,90,90,0.5);
}
#img1 {
  top: 0;
  right: 16vw;
  z-index: 4;
}
#img1:hover {
  width: 30%;
  top: 2vw;
  right: 12vw;
  transition: 1s;
}
#img2{
  top: 11vw;
  right: 8vw;
  z-index: 3;
}
#img2:hover {
  width: 35%;
  top: 8vw;
  right: 6vw;
  transition: 1s;
  z-index: 10;
}
#img3 {
  top: 18vw;
  right: 2vw;
  z-index: 2;
}
#img3:hover {
  width: 35%;
  top: 14vw;
  right: 4vw;
  transition: 1s;
  z-index: 10;
}










/* Navbar */
nav {
   font-family: sans-serif;
   display: flex;
   background-color: snow;
   justify-content: space-around;
   height: 75px;
   align-items: center;
   color: #4b5251;
   z-index: 100;
   position: sticky;
   top: 0;
   width: 100%;
   padding: 0 10vw;
    margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
   font-family: "diavlo";
   letter-spacing: 1px;
   margin-top: 1em;
   float: left;
}

nav  a {
   width: 1.5em;
   padding: 0 5px;
}

nav ul {
   float: right;
   list-style: none;
   width: 50%;
   justify-content: space-between;
   align-items: center;
}
nav li {
  float: left;
  padding: 20px;
  display: block;
}
nav ul li a {
   color: #4b5251;
   text-decoration: none;
   font-family: montserrat;
}

nav ul li a:hover {
   color: white;
   text-shadow: 1px 1px 2px black;
}

/* hamburger menu */

.menu-toggle {
   display: none;
   flex-direction: column;
   height: 20px;
   justify-content: space-between;
   position: relative;
}

.menu-toggle input {
   position: absolute;
   width: 40px;
   height: 28px;
   left: -6px;
   top: -4px;
   opacity: 0;
   cursor: pointer;
   z-index: 2;
}

.menu-toggle span {
   display: block;
   width: 28px;
   height: 3px;
   background-color: #4b5251;
   border-radius: 3px;
   transition: 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {

   transform-origin: 0 0;
}


.menu-toggle span:nth-child(4) {

   transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
   background-color: indigo;
   transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked~span:nth-child(3) {
   opacity: 0;
   transform: scale(0)
}

.menu-toggle input:checked~span:nth-child(4) {
   background-color: indigo;
   transform: rotate(-45deg) translate(-2px, -0px);
}



/*style div.jumbotron*/


/*style about*/
.about {
  width: 95%;
  margin: 25px auto;
   justify-content: space-around;
  display: flex;
  height: 600px;
   z-index: -10;
   padding: 20px;
   box-sizing: border-box
}


/*style div.about-text*/
.about-text {
   width: 45%;
   background-color: whitesmoke;
   padding: 25px;
   box-sizing: border-box;
   height: 350px;
    font-family: asap;
   border-radius: 5px;
}

.about-text h2{
  padding-bottom: 20px;
   margin-bottom: 20px;
  border-bottom: 2px solid rgb(200,200,200);
}
.about-text p {
  text-align: justify;
  line-height: 30px;

}
.about-text a {
  display: block;
  width: 25%;
  text-align: center;
  color: white;
   margin-top: 20px;
  text-decoration: none;
  background-color: rgba(155,100,155,0.9);
  padding: 10px;
  border-radius: 5px;
  opacity: 0.5;
}
.about-text a:active {
  opacity: 1;
}

/*style div.about-imgs*/
.about-imgs {
  width: 45%;
   position: relative;
   height: 500px;

}
.about-imgs img{
  width: 25%;
  position: absolute;
  box-shadow: 5px 5px 15px rgba(90,90,90,0.5);
}
#img1 {
  top: 0;
  right: 16vw;
  z-index: 4;
}
#img1:hover {
  width: 30%;
  top: 2vw;
  right: 12vw;
  transition: 1s;
}
#img2{
  top: 11vw;
  right: 8vw;
  z-index: 3;
}
#img2:hover {
  width: 35%;
  top: 8vw;
  right: 6vw;
  transition: 1s;
  z-index: 10;
}
#img3 {
  top: 18vw;
  right: 2vw;
  z-index: 2;
}
#img3:hover {
  width: 35%;
  top: 14vw;
  right: 4vw;
  transition: 1s;
  z-index: 10;
}


.mobile {
   display: none;
}


/*style bagian feature*/
.feature {
   display: flex;
   width: 95%;
   background-color: whitesmoke;
   margin: 20px auto;
   flex-wrap: wrap;
   justify-content: space-around
}

.sub-fitur {
   width: 35%;
   margin: 20px;
   text-align: center;
   padding: 20px;
}

.sub-fitur h3 {
   margin: 5px 0;
}

.icon-fitur1::after {
   font-family: "et-line";
   content: "\e033";
   font-size: 75px;
}

.icon-fitur2::after {
   font-family: "et-line";
   content: "\e051";
   font-size: 75px;
}

.icon-fitur3::after {
   font-family: "et-line";
   content: "\e046";
   font-size: 75px;
}

.icon-fitur4::after {
   font-family: "et-line";
   content: "\e022";
   font-size: 75px;
}


/*style bagian our skill*/
.skill {
   width: 95%;
   margin: 20px auto;
   position: relative;
}


.skill img {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.skill::after {
    content: '';
    display: block;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, rgba(230,230,230,1), rgba(200,200,200,0.4));
    position: absolute;
    top: 0;
}


.our-skill {
   position: absolute;
   top: 50px;
   left: 50px;
   background-color: white;
   z-index: 1;
   width: 30%;
   height: 70%;
   border-radius: 5px;
   padding: 25px;
   box-sizing: border-box;
}

.our-skill h2 {
   margin: 15px 0;
   padding-bottom: 10px;
   border-bottom: 2px solid rgb(200,200,200);
}

.our-skill p {
   line-height: 20px;
   margin-bottom: 10px;
}


.persen-skill {
   position: absolute;
   top: 50px;
   right: 50px;
   width: 60%;
   height: 70%;
   z-index: 1;
}

.persen-skill p {
   text-align: center;
   color: ghostwhite;
   text-shadow: 2px 2px grey;
   font-size: 17px
}

.full-persen {
   height: 5px;
   background-color: gainsboro;
   border-radius: 5px;
   width: 90%;
   margin: 45px auto;
   margin-bottom: 10px;
   box-shadow: 1px 1px grey;
}

.skill-persen1::after {
   content: '';
    display: block;
    position: absolute;
   height: 5px;
   width: 68%;
   border-radius: 5px;
   background-color: darkgray;
}

.skill-persen2::after {
   content: '';
    display: block;
    position: absolute;
   height: 5px;
   width: 75%;
   border-radius: 5px;
   background-color: darkgray;
}

.skill-persen3::after {
   content: '';
    display: block;
    position: absolute;
   height: 5px;
   width: 70%;
   border-radius: 5px;
   background-color: darkgrey;
}


.skill-persen4::after {
   content: '';
    display: block;
    position: absolute;
   height: 5px;
   width: 85%;
   border-radius: 5px;
   background-color: darkgrey;
}



/*style our team*/

.our-team {
   width: 95%;
   margin: 25px auto;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-around
}

.our-team h2 {
   width: 100%;
   margin: 20px auto;
}

.item-team {
   width: 20%;
   height: 200px;
}

.item-team img {
   width: 50%;
}


/* style bagian 1 */

/* akhir style bagian 1 */



/* style bagian 2 */

/* akhir style bagian 2 */



/* style bagian 3 */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

/*---------------------Clearfix-------------------------*/


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*--------------------------style----------------------------*/

/*===================style top=========================*/

.bagian3 {
  height: 600px;
  	background-color: #eee;
}

.top-wrap{
	background-color:#8A00FF;
	color:#fff;
	text-align: center;
}

.container{
  height: 15vw;
	padding: 0px auto;
	margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
	padding: 20px 0;
	display: inline-block;
	margin: 4.5vw;
  font-size: 1.8vw;
}

.top p {
  line-height: 4vw;
}

.top-h2 {
  font-size: 4vw;
  font-weight: bold;
}

.complete-project, .client, .photo-edit{

}

/*============================style testi=====================*/

.testi{
	padding: 50px;
  margin-top: 5vw;
}

.testi-wrap{
	width: 55%;
	float: left;
}

.heading{
	text-align: center;
	margin-bottom: 30px;
}

.heading h1{
	font-size: 20px;
}

.wrap-box{
	background-color: white;
	box-shadow: 0 0 6px rgba(0,0,0,.3);
	border-radius: 5px;
  width: 80%;
}

.container-box{
	padding: 30px 15px;
}

.project-img{
	float: left;
	border-radius: 50%;
}

.text-box{
	text-align: center;
	margin-top: 40px;
}

.name-people{
	padding: 5px;
}

.satisfaction{
	text-align: center;
	margin-top: 10px;
}

.rating{
	font-size: 50px;
	padding: 50px 0;
}

.fas{
	color: #FCED00;
}

.btn-sm a{
	background-color: rgba(138, 0, 255, 0.7);
	padding: 10px 15px;
	color: white;
	border-radius: 7px;
	transition: 0.5s;
}

.btn-sm a:hover{
	background-color: rgba(138, 0, 255, 1);
}

/* Ini Bagian Latest nya*/
.latest-project-container {
  margin-top: 6vw;
}
.latest-project-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.latest-project-text ul {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.latest-project-text li {
  flex-direction: row;
  padding: 1vw;
  border-bottom: 2px solid white;
  margin-bottom: 3vh;
}
.latest-project-text li:hover {
  border-bottom: 2px solid rgb(200,50,200);
  transition: 0.5s;
}
.latest-project-img {
  width: 80%;
  margin: auto;
  margin-bottom: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 1vw;
  justify-content: center;
  align-content: : center;
}
.latest-project-img .latest {
  align-self: center;
  width: 15vw;
  height: 9vw;
}
.latest-project-img img:hover{
  z-index: 10;
  width: 15em;
  height: auto;
  box-shadow: 0 0 5px rgb(100,100,100);
  transition: 2s;
}
/* akhir style bagian 3 */



/* style bagian 4 */
body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}

footer{
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #8A00FF;
}

.right-col h1{
  font-size: 26px;
}

.payment-method{
  margin: 20px 0;
}

.payment-method a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.payment-method a:hover{
  color: #8A00FF;
}






.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
    text-align: center;
  }
  .right-col{
    width: 100%;
    margin-bottom: 50px;
  }

  .left-col{
    width: 100%;
  }
}


/**
@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }**/
}
